html {
    background-color: #EDF2C5;
}
.site-nav {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #778A50;
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin: 16px 30px;
}

.site-nav a {
    display: block;
    font-family: "Arial Block";
    font-size: 16px;
    color: #EDF2C5;
}

footer {
	text-align: center;
	font-size: 12px;
    color: #EDF2C5;
    background-color: #778A50;
	padding-bottom: 20px;
	padding-top: 20px;
}