html {
    background-color: #EDF2C5;
}

header {
    margin: 53px 160px 8px 160px;
    max-width: 940px;
}

header h1 {
    display: inline-block;
    font-family: 'Arial Black';
    font-size: 36px;
    color: #778A50;
    height: 42px;
}

img#pumpkin{
    margin-left: 160px;
    margin-right: 160px;
}

footer {
	text-align: center;
    font-size: 12px;
    font-family: 'ArialMT Regular';
    color: #EDF2C5;
    background-color: #778A50;
	padding-bottom: 25px;
    padding-top: 24px;
    padding-left: 479px;
    padding-right: 479px
}
